@namespace s "library://ns.adobe.com/flex/spark";
@namespace controls "com.ania.apps.kodypocztowe.view.components.*";

controls|SkinnableAlert {
    skinClass: ClassReference("com.ania.apps.kodypocztowe.view.components.SkinnableAlertSkin");
    backgroundColor: #424242;
    backgroundAlpha: 0.9;
}

controls|SkinnableAlert s|TextArea {
    contentBackgroundAlpha: 0;
}

controls|SkinnableAlert s|Button {
    fontSize: 28;
}

.myItemRendererStyle {
    fontSize: 24;
    paddingTop: 15;
    paddingBottom: 15;
    verticalAlign: top;
    verticalGap: 18;
    messageStyleName: myItemRendererMessageStyle;
}

.myItemRendererMessageStyle {
    fontSize: 23;
    color: #666666;
}