@namespace s "library://ns.adobe.com/flex/spark";
@namespace controls "com.ania.apps.kodypocztowe.view.components.*";

global
{
	chrome-color: #294867;
	color: #CEE7F4;
	content-background-color: #39628C;
	symbol-color: #000000;
	roll-over-color: #355D89;
	selection-color: #294867;
	focus-color: #333300;
	accent-color: #6589AD;
}

s|Label {
    color: #000000;
}

s|ActionBar {
    chromeColor: #294867;
}

s|TextInput {
    color: #FFFFFF;
    focusColor: #FFFFFF;
}

controls|SkinnableAlert {
    skinClass: ClassReference("com.ania.apps.kodypocztowe.view.components.SkinnableAlertSkin");
    backgroundColor: #424242;
    backgroundAlpha: 0.9;
}

controls|SkinnableAlert s|TextArea {
    contentBackgroundAlpha: 0;
}

controls|SkinnableAlert s|Button {
    fontSize: 28;
}

.myItemRendererStyle {
    color: #000000;
    fontSize: 24;
    paddingTop: 15;
    paddingBottom: 15;
    verticalAlign: top;
    verticalGap: 18;
    messageStyleName: myItemRendererMessageStyle;
}

.myItemRendererMessageStyle {
    fontSize: 23;
    color: #666666;
}